html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

#app {
  text-align: left;
  display: block;
}

* {
  box-sizing: border-box;
}
